/* Add black*/ 
/* topnav{
    background-color: #333;
} */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.navbar{
    position: relative;
    height: 100vh;
    background: aquamarine;
}
.nav-title{
    padding: 5px;
    font-size: 20px;
    display: flex;
    background-color: blueviolet;
}
.navbar .navbar-link ul{
    width: 100%;
    text-align: center;
}
.navbar .navbar-link li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    right: 20px;
}
.navbar .navbar-link li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbar .navbar-link li a:hover{
    color: blue;
}


